<div class="container">
  <form class="container__form" [formGroup]="loginForm" (ngSubmit)="onSignIn()">
    <h1 class="container__form__title">Sign in to Cando</h1>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input formControlName="password" type="password" matInput />
    </mat-form-field>

    <button
      [disabled]="loginForm.invalid"
      (click)="onSignIn()"
      color="primary"
      mat-flat-button
      type="button"
    >
      Sign In
    </button>
  </form>

  <div class="container__info">
    <h1>Hello, Friend!</h1>
    <button
      [routerLink]="['/auth', 'register']"
      type="button"
      color="primary"
      mat-flat-button
    >
      Sign Up
    </button>
  </div>
</div>
