:host {
  height: 100%;
  width: 100%;
  display: block;
  padding: 3rem;
  background-color: rgba(var(--secondary-color), 0.05);
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 3rem;

  &__section {
    &-title {
      margin: 0;
    }

    mat-chip-set {
      ::ng-deep .mdc-evolution-chip-set__chips {
        overflow-x: auto;
        flex-wrap: nowrap;
        scrollbar-width: thin;
      }
    }

    &__task-list {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
