:host {
  display: block;
  position: relative;
  transition: 300ms ease-in-out filter;
  background-color: rgba(var(--secondary-color), 0.05);
  padding: 3rem 3rem 1rem;
  height: calc(100vh - 4rem);
  overflow: hidden;

  :has(.floating-task-form--opened) & {
    filter: blur(20px);

    overflow: hidden;
    pointer-events: none;
    user-select: none;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 3rem;
  height: 100%;
  overflow: hidden;

  &__section {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    &-title {
      margin: 0;
      color: rgba(var(--main-color));
      font-weight: 500;
    }

    mat-chip-set {
      flex-shrink: 0;
      ::ng-deep .mdc-evolution-chip-set__chips {
        flex-wrap: nowrap;
        overflow-x: auto;
        scrollbar-width: thin;
      }
    }

    &__task-list {
      display: flex;
      flex: 1 1 0%;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;
      overflow-y: auto;
    }
  }
}
